[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
setproctitle = "*"
tensorboardX = "*"
tensorflow = "==1.10.0"
ai2thor = "==2.1.1"
pip = "*"
matplotlib = "*"
ipython = "*"
mypy = "*"
sklearn = "*"
tables = "*"
scikit-image = "*"
colour = "*"
psutil = "*"
"h5py" = "*"
tqdm = "*"
tensorboard = "==1.10.0"
statsmodels = "*"
frozendict = "*"
scikit-misc = "*"
seaborn = "*"
midiutil = "*"
pillow = "~=6.0"
opencv-python = "==4.1.0.25"
black = "==19.10b0"
networkx = "*"
torch = "==1.5.1"
torchvision = "==0.6.1"

[requires]
python_version = "3.6"
