absl-py==0.10.0
ai2thor==2.1.1
appdirs==1.4.4
appnope==0.1.0
astor==0.8.1
attrs==20.2.0
backcall==0.2.0
black==19.10b0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colour==0.1.5
cycler==0.10.0
decorator==4.4.2
Flask==1.1.2
frozendict==1.2
future==0.18.2
gast==0.4.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
MIDIUtil==1.2.1
mypy==0.782
mypy-extensions==0.4.3
networkx==2.5
numexpr==2.7.1
numpy==1.19.2
opencv-python==4.1.0.25
pandas==1.1.2
parso==0.7.1
pathspec==0.8.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
progressbar2==3.53.1
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
Pygments==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
regex==2020.9.27
requests==2.24.0
scikit-image==0.17.2
scikit-learn==0.23.2
scikit-misc==0.1.3
scipy==1.5.2
seaborn==0.11.0
setproctitle==1.1.10
six==1.15.0
sklearn==0.0
statsmodels==0.12.0
tables==3.6.1
tensorboard==1.10.0
tensorboardX==2.1
tensorflow==1.10.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.9.3
toml==0.10.1
torch==1.5.1
torchvision==0.6.1
tqdm==4.50.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.2.0
